/**
Applies the default sans font to all cookie dialog texts
 */
#cookie-dialog::part(text), #cookie-dialog-button::part(text) {
    font-family: var(--font-sans-inherit);
}

#cookie-dialog-button {
    position: absolute;
    z-index: 100;
}